@model  IEnumerable<DMSDemo1.Models.DonorInfo>
@using GridMvc.Html

@{
    ViewBag.Title = "DonorInfo";
}

<h2>DonorInfo</h2>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
</head>
<body>
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns =>
   {
       //columns.Add(c => c.Id).Titled("Client ID");
       columns.Add(c => c.Title).Titled("Title").Sortable(true);
       columns.Add(c => c.FirstName).Titled("First Name").Sortable(true);
       columns.Add(c => c.Middle).Titled("Middle Name").Sortable(true);
       columns.Add(c => c.LastName).Titled("Last Name").Sortable(true);
       //columns.Add(c => c.Suffix).Titled("Suffix");
       columns.Add(c => c.CompanyName).Titled("Company Name").Sortable(true);
       columns.Add(c => c.Address).Titled("Address").Sortable(true);
       columns.Add(c => c.State).Titled("State").Sortable(true);
       columns.Add(c => c.Zip).Titled("Zip Code").Sortable(true);
       columns.Add(c => c.Email).Titled("Email");
       columns.Add(c => c.Phone).Titled("Phone");
       columns.Add(c => c.Birthday).Titled("Birthday").Sortable(true);
       columns.Add(c => c.Gender).Titled("Gender").Sortable(true);
       //columns.Add(c => c.Relationship).Titled("Relationship");
       //columns.Add(c => c.Identity).Titled("Identity").Filterable(true);
   }).WithPaging(10).Sortable(true)
    </div>
</body>
</html>